<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="text">
        <span><%= month_part %></span><span><%= week_part %></span><span><%= day_part %></span>
      </div>
    </div>
  </body>
</html>
