<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <input type="checkbox" id="toggle" />
    <div class="wrapper">
      <label for="toggle">
        <div class="text">
          <span><%= month_part %></span><span><%= week_part %></span><span><%= day_part %></span>
        </div>
      </label>
    </div>
  </body>
</html>
