html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-image: url("shreddin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eee;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.text {
  color: #fff;
  text-shadow: 5px 5px 10px black;
  font-family: futura;
  font-size: 3em;
}

input#toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input#toggle:checked + .wrapper {
  background: url("catcloud.gif");
  background-color: #000;
}
